/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: rgba(255, 0, 112, 1);
  --header__theme-title-color: rgba(219, 0, 255, 1);
  --header__theme-article_text-color: rgba(0, 0, 40, 1);
  --footer-text-color: rgba(219, 0, 255, 1);
  --preheader-color: rgba(0, 0, 40, 1);
  --preheader-color-inverse: rgba(255, 0, 112, 1);
  --paragraph-color: rgba(241, 178, 206, 1);
  --prepreheader-color: rgba(0, 0, 40, 1);
  --button-color: rgba(255, 0, 112, 1);
  --button-border-hover-color: rgba(255, 0, 112, 0.4);
  --page-background-color: rgb(0, 0, 40);
  --decorated_corner-color: rgba(255, 0, 112, 1);
  --text-shadow-color: rgba(255, 0, 112, 1);
  --page-background-image: url("../images/cover-image-dark.png");
  --header__theme-decorated_element-display: block;
}
