/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--page-background-color);
  background-image: var(--page-background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  position: relative;
  inline-size: 100%;
  min-block-size: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.header-decorated-zone::after {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: transparent;
  border-top: 1px solid var(--decorated_corner-color);
  border-right: 1px solid var(--decorated_corner-color);
  inline-size: 25px;
  block-size: 25px;
  right: 0;
  top: 20px;
}

.header-decorated-zone::before {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: transparent;
  border-bottom: 1px solid var(--decorated_corner-color);
  border-left: 1px solid var(--decorated_corner-color);
  inline-size: 25px;
  block-size: 25px;
  left: 0;
  bottom: 20px;
}

.header__theme-decorated_element {
  display: var(--header__theme-decorated_element-display);
  position: absolute;
  top: 20px;
  right: 10px;
  color: var(--accent-color);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
}

.header__theme-decorated_element::after {
  content: "";
  display: inline-block;
  block-size: 9px;
  inline-size: 9px;
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  margin-left: 10px;
}

.header__theme-menu {
  justify-self: center;
  padding-top: 20px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 2.5px 13px;
  color: var(--button-color);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-weight: 400;
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
  border: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-border-hover-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.header__theme-title {
  position: relative;
  left: -20px;
  color: var(--header__theme-title-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 130px;
  text-shadow: 4px 4px 0px var(--text-shadow-color);
}

.header__theme-article {
  align-self: center;
  padding-left: 50%;
  padding-bottom: 20px;
}

.preheader_style {
  color: var(--preheader-color-inverse);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-weight: 700;
  line-height: 23px;
  background-color: transparent;
}

.preheader_style_decor {
  color: var(--preheader-color);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-weight: 700;
  line-height: 23px;
  background-color: var(--accent-color);
}

.header__theme-article_text {
  color: var(--header__theme-article_text-color);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-weight: 700;
  line-height: 23px;
  background-color: var(--accent-color);
}

.main {
  inline-size: 100%;
  background-color: var(--main-background-color);
}

.content-section_why {
  display: flex;
  flex-direction: row;
  inline-size: 100%;
  margin-top: 60px;
  gap: 9px;
}

.section_why-title {
  flex-grow: 1;
  flex-basis: calc(100% / 3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.section_why-text {
  flex-grow: 2;
  flex-basis: calc(100% / 3 * 2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
}

.section_why-article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.paragraph_style {
  color: var(--paragraph-color);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-weight: 400;
  line-height: 23px;
}

.content-section_what {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  margin-top: 85px;
  gap: 21px;
}

.section_what-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  inline-size: calc(90% / 3);
}

.section_what-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.section_what-article {
  flex-grow: 1;
  flex-basis: 314px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}

.prepreheader_style {
  color: var(--prepreheader-color);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-weight: 400;
  line-height: 23px;
  background-color: var(--accent-color);
}

.content-section_how {
  display: flex;
  flex-direction: row;
  inline-size: 100%;
  margin-top: 85px;
  margin-bottom: 83px;
  gap: 9px;
}

.section_how-title {
  flex-grow: 1;
  flex-basis: calc(100% / 3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.section_how-text {
  flex-grow: 2;
  flex-basis: calc(100% / 3 * 2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.articlebox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.section_how-article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}

.content-section_may {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-section_may-imagebox {
  display: grid;
  gap: 20px;
  grid-auto-flow: row dense;
  grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
}

.sunset {
  grid-area: sunset;
}

.ice-cream {
  grid-area: ice-cream;
}

.tape {
  grid-area: tape;
}

.books {
  grid-area: books;
}

.street {
  grid-area: street;
}

.img-style {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  inline-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 100vh;
}

.footer-text {
  text-shadow: 2px 2px 0px var(--text-shadow-color);
  color: var(--footer-text-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 130px;
}

.link {
  text-shadow: 2px 2px 0px var(--accent-color);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1.5px solid var(--paragraph-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--paragraph-color);
  border: none;
}

.footer-decorated-zone::after {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: transparent;
  border-top: 1px solid var(--decorated_corner-color);
  border-right: 1px solid var(--decorated_corner-color);
  inline-size: 25px;
  block-size: 25px;
  right: 2px;
  top: 22px;
}

.footer-decorated-zone::before {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: transparent;
  border-bottom: 1px solid var(--decorated_corner-color);
  border-left: 1px solid var(--decorated_corner-color);
  inline-size: 25px;
  block-size: 25px;
  bottom: 20px;
  left: 0;
}

@media (768px<=width<1024px) {
  .header__theme-menu {
    justify-self: end;
    padding-top: 26%;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 15px;
  }

  .header__theme-title,
  .footer-text {
    line-height: 99px;
  }

  .content-section_why {
    gap: 20px;
  }

  .section_why-article {
    gap: 12px;
  }

  .section_what-article {
    flex-grow: initial;
    flex-basis: auto;
  }

  .section_what-text {
    flex-direction: column;
  }

  .content-section_what {
    margin-top: 82px;
  }

  .content-section_how {
    margin-top: 84px;
    margin-bottom: 78px;
    gap: 20px;
  }

  .section_how-article {
    gap: 14px;
  }
}

@media (375px<=width<768px) {
  .page {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 13px;
  }

  .header__theme-menu {
    justify-self: end;
    padding-top: 21%;
  }

  .header__theme-title {
    left: initial;
  }

  .header__theme-article {
    padding-left: initial;
    padding-bottom: 10px;
  }

  .header__theme-title,
  .footer-text {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 95.7px;
  }

  .content-section_why {
    flex-direction: column;
    margin-top: 41px;
    gap: 21px;
  }

  .section_why-article {
    gap: 13px;
  }

  .content-section_what {
    margin-top: 54px;
  }

  .section_what-text {
    flex-direction: column;
  }

  .section_what-title {
    flex-direction: row;
    inline-size: initial;
  }

  .section_what-article {
    gap: 15px;
    flex-grow: initial;
    flex-basis: auto;
  }

  .content-section_how {
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 22px;
  }

  .articlebox {
    gap: 23px;
  }

  .content-section_may {
    gap: 10px;
    margin-bottom: 41px;
  }

  .content-section_may-imagebox {
    display: block;
  }

  .img-container {
    margin-bottom: 10px;
  }

  .img-container:last-child {
    margin-bottom: 0;
  }

  .header-decorated-zone::after {
    top: 10px;
  }

  .header__theme-decorated_element {
    top: 10px;
  }

  .header-decorated-zone::before {
    bottom: 10px;
  }

  .footer-decorated-zone::before {
    bottom: 10px;
  }

  .footer-decorated-zone::after {
    top: 10px;
  }
}
